{% extends "base.html" %}

{% block content %}

<!-- {% if form.errors %}
  <p>Email and password didn't match. Please try again.</p>
{% endif %} -->


{% if form.non_field_errors %}
    <ul class='form-errors'>
        {% for error in form.non_field_errors %}
            <li>{{ error }}</li>
        {% endfor %}
    </ul>
{% endif %}

{% if next %}
  {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page.</p>
  {% else %}
    <p>Please login to see this page</p>
  {% endif %}
{% endif %}

<p>Nothing much</p>

<form class="form-signin" action="" method="post">
  <h2 class="form-signin-heading">Login</h2>
  {% csrf_token %}

    <input class="input-block-level" type="text" name="email" value="" id="email" placeholder="Email">

    <input class="input-block-level" type="password" name="password" value="" id="email" placeholder="Password">

    <button class="btn btn-large btn-primary" type="submit">Login</button>
</form>


{% endblock %}
