<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}<title>School Information System</title>{% endblock %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  {% load static %}
  <link rel='stylesheet' type="text/css" href={% static 'mystyle.css' %} />

  {% block script %} {% endblock %}
</head>
<body>

  <nav class="navbar navbar-toggleable-md navbar navbar-inverse bg-inverse">

  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="container">
  {% if request.session.logged_in == 'logged_in' %}

  <a class="navbar-brand" href="/{{request.session.permission}}_redirect/"><img src={% static 'images/user.png' %} alt="Plus Sign"><strong> {{request.session.username}}</strong></a>
  {% else %}
  <a class="navbar-brand" href="{% url 'sis:index' %}" >SIS</a>

  {% endif %}
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">



      {% if request.session.permission == 'staff' %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'sis:create_module' %}"><img src={% static 'images/plus-sign.png' %} alt="Plus Sign"><strong> Add module</strong></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'sis:display_users' %}"><img src={% static 'images/family.png' %} alt="Display users Sign"><strong> Display users</strong></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'sis:enroll_module' %}"><img src={% static 'images/plus-sign.png' %} alt="Plus Sign"><strong> Enroll</strong></a>
      </li>

      {% endif %}

      {% if request.session.permission == 'student' %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'sis:coursework_scheduler' %}">Coursework Scheduler</a>
      </li>
      {% endif %}

      {% if request.session.permission == 'professor' %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'sis:taught_modules' %}"><img src={% static 'images/lightbulb.png' %} alt="Lightbulb image"><strong> Taught modules</strong></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'sis:create_coursework' %}"><img src={% static 'images/plus-sign.png' %} alt="Plus Sign"><strong> Create coursework</strong></a>
      </li>
      {% endif %}

    </ul>
    <ul class="navbar-nav ml-auto">

      {% if request.session.logged_in != "logged_in" %}
      <li class="">
        <a class="nav-link" href="{% url 'sis:login_user' %}"><strong>Log in </strong><img src={% static 'images/log-in.png' %} alt="Log in Sign"></a></a>
      </li>
      {% endif %}

      {% if request.session.logged_in == 'logged_in' %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'sis:logout_user' %}"><strong>Logout </strong><img src={% static 'images/log-out.png' %} alt="Log out SIgn"></a>
      </li>
      {% endif %}

    </ul>
  </div>
</div>
</nav>
<div class="container-fluid">

  {% block content %}
  {% endblock %}
</div>
</body>

</html>
