<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}<title>School Information System</title>{% endblock %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  {% load static %}
  <link rel='stylesheet' type="text/css" href={% static 'mystyle.css' %} />

  {% block script %} {% endblock %}
</head>
<body>

  <nav class="navbar navbar-toggleable-md navbar navbar-inverse bg-inverse">

  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="container">
  {% if request.session.logged_in == 'logged_in' %}

  <a class="navbar-brand" href="/{{request.session.permission}}_redirect/">SIS</a>
  {% else %}
  <a class="navbar-brand" href="#">SIS</a>

  {% endif %}
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">

      {% if request.session.logged_in != "logged_in" %}
      <li class="">
        <a class="nav-link" href="{% url 'sis:login_user' %}">Login</a>
      </li>
      {% endif %}


      {% if request.session.logged_in == 'logged_in' %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'sis:logout_user' %}">Logout</a>
      </li>
      {% endif %}

      {% if request.session.permission == 'staff' %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'sis:create_module' %}">Add a Module</a>
      </li>
      {% endif %}

      {% if request.session.permission == 'student' %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'sis:coursework_scheduler' %}">Coursework Scheduler</a>
      </li>
      {% endif %}

      {% if request.session.permission == 'professor' %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'sis:taught_modules' %}">Taught Modules</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'sis:create_coursework' %}">Create Coursework</a>
      </li>
      {% endif %}





    </ul>
  </div>
</div>
</nav>
<div class="container-fluid">

  {% block content %}
  {% endblock %}
</div>
</body>

</html>
