{% extends 'sis/base.html' %}


{% block content %}


{% if messages %}
{% for message in messages %}


{% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}

    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <strong>{{message}}</strong>
    </div>
{% endif %}


{% endfor %}
{% endif %}

<div class="row">
  <div class="col-sm">
    <h1 class="display-1"><p class="text-center">{{coursework_title}}</p></h1>
  </div>


  <div class="col-sm">

      <div class="row">
        <div class="col">
          <h1>Progress bar</h1>
        </div>

      </div>
      <div class="row">
        <div class="col">
        <form method="post" novalidate>
          {% csrf_token %}
          <div class="form-row">
            <div class="col-sm-8">
                <div class="row">

                  <div class="col">
                      {% for field in form %}
                      <h3>{{field}}</h3>
                      {% endfor %}
                  </div>
                </div>
          </div>
            <div class="col-sm-4">
              <button type="submit" class="btn btn-primary">Change Progress</button>
            </div>

          </div>

        </form>
        </div>

      </div>



  </div>




</div>

<div class="container">

  <br>

  <h4>{{module_title}} - {{module_credits}} credits.</h4>
  <h4>Coursework Percentage: {{coursework_percentage}}%</h4>
  <br>
  <p class="text-justify">{{coursework_details}}</p>

</div>


{% endblock %}
