{% extends 'sis/base.html' %}

{% block content %}



 {% if messages %}
   {% for message in messages %}
     <div class="alert alert-danger" role="alert">
       <p class="font-weight-bold">{{ message }} </p>
     </div>

   {% endfor %}
{% endif %}

<div class="container">
  <div class="center-div">
  <form class="form-horizontal" role="form" action="{% url 'sis:login_user'%}" method="post" enctype="multipart/form-data">

    <div class="form-group row">
      <label for="inputEmail" class="col-sm-2 col-form-label ">Email</label>
      <div class="col-sm-7">
        <input type="email" name="email" class="form-control" placeholder="Email">
      </div>
    </div>
    {% csrf_token %}
    <div class="form-group row">

      <label for="inputPassword" class="col-sm-2 col-form-label ">Password</label>
      <div class="col-sm-7">
        <input type="password" name="password" class="form-control" placeholder="Password">

    </div>

    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-success">Submit</button>
        </div>
    </div>

  </form>
</div>

</div>
</div>






{% endblock %}
