

{% extends 'sis/base.html' %}

{% block content %}

<!--
 {% if messages %}
   {% for message in messages %}
     <div class="alert alert-danger" role="alert">
       <p class="font-weight-bold">{{ message }} </p>
     </div>

   {% endfor %}
{% endif %} -->


{% if messages %}
{% for message in messages %}

<div class="alert alert-success alert-dismissible fade show" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <strong>{{message}}</strong>
</div>

 {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}

{% endfor %}
{% endif %}



<div class="container">
  <font size="18">Student {{ user.email }}.</font>
  <br>
  <font size="18">--- Details incomming ---</font>

</div>

{% endblock %}
